<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.kr.spt.mappers.SensorMapper">

  	<insert id="create">
  		insert into TB_hub (hub_id,hub_user,hub_pw) values(#{hub_id},#{hub_user},#{hub_pw});
  	</insert>
  	
  	<select id="read" resultType="com.kr.spt.vo.SensorVO">
	  	select hub_id, hub_user, hub_pw, hub_udate, hub_intidate from TB_hub where hub_id = #{hub_id}
  	</select>
	
	<update id="update">
  		update TB_hub set hub_pw = #{hub_pw}, hub_udate = now() where hub_id=#{hub_id};
  	</update>
  	
  	<delete id="delete">
  		delete from TB_hub where hub_id = #{hub_id}
  	</delete>
  </mapper>